<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=AVENGER;Initial Catalog=Alpha;User ID=user1;Password=user1;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>